body {
  cursor: url('Cursor.png') 16 16, auto;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}